<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webdemo.mapper.SysRoleUserMapper">
  <resultMap id="BaseResultMap" type="com.example.webdemo.entity.SysRoleUser">
    <!--@mbg.generated-->
    <!--@Table sys_role_user-->
    <id column="uid" property="uid" />
    <id column="rid" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, rid
  </sql>
</mapper>