<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webdemo.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.webdemo.entity.SysRoleMenu">
    <!--@mbg.generated-->
    <!--@Table sys_role_menu-->
    <id column="mid" property="mid" />
    <id column="rid" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    mid, rid
  </sql>
</mapper>